{%extends 'base.html'%} {%block content%} 

<table class="table table-hover table-bordered table-secondary table-striped">{%if user.is_authenticated and user.is_staff %}
  <thead class="table-secondary">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    {% if collections %} {%for collection in collections%}
    <tr>
      <td>
      <a href="{% url 'store/items_collection' collection.id %}"
        >{{ collection.title }}</a</td>
      
      <td>{{collection.update}}</td>
    </tr>

    {%endfor%}
  </tbody>
</table>

{% endif %} {%else%} {% endif %} {% endblock %}
