{%extends 'base.html'%} {%block content%}

<nav class="navbar bg-body-tertiary">
  {%if user.is_authenticated and user.is_staff %}
  <div class="container-fluid">
    <form class="d-flex" method="POST" action="{%url 'search' %}" role="search">
      {% csrf_token %}
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Snags"
        aria-label="Search"
        name="searched"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<br />
<div>
  <br />
  <p>
    You can Search by:
    <strong>
      Site Location, Address, Status, Booked date as : year - month - day
    </strong>
  </p>
  <br />
</div>
<br />

<table class="table table-hover table-bordered table-secondary table-striped">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Site</th>

      <th scope="col">Name</th>

      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>

      <th scope="col">Details</th>
      <th scope="col">Date</th>
      <th scope="col">Part of Day</th>
    </tr>
  </thead>
  <tbody>
    {% if snags %} {%for snag in snags%}
    <tr>
      <td>
        <a href="{% url 'snags/customer' snag.id %}">{{ snag.address }}</a>
      </td>
      <td>{{snag.site}}</td>
      <td>{{snag.first_name}} {{snag.last_name}}</td>
      <td>{{snag.phone_number}}</td>
      <td>{{snag.status}}</td>
      <td>{{snag.snag_details}}</td>
      <td>{{snag.booked_date}}</td>
      <td>{{snag.am_pm}}</td>
    </tr>

    {%endfor%}
  </tbody>
</table>

{% endif %} {%else%}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />

  <form method="POST" action="{% url 'snags/home' %}">
    {% csrf_token %}

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        ,
        placeholder="Username"
        required
      />
    </div>
    <br />
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        ,
        placeholder="Password"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
  <br />
</div>
{% endif %} {% include "pagination.html" with page=snags %} {% endblock %}
