body {
    background-image: url(bkg.jpg); 
    background-color: cadetblue;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    text-align: center;
    
}