{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'core'%}">
      Workbench
      <img
        src="{%static 'thumbnail.png'%}"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Snagging Menu
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="{%url 'snags/home'%}"
                >Snaggings List</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{%url 'snags/add_snag'%}"
                >Add a snag</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'operatives/detail'%}">Jobs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'operatives/home'%}">Operatives</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{%url 'snags/home'%}">Snags</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="{%url 'snags/add_snag'%}">Add Snag</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="{%url 'snags/logout'%}">Logout</a>
        </li>

        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'snags/register'%}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'snags/home'%}">Login</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
